
.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
/* WebKit */
.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background-color: #EEE;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border-color: transparent;
  border-width: 0 1px;
  border-style: solid;
  background-clip: content-box;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #AAA;
}
.thin-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #666;
}
