site/
.venv/
__pycache__/
node_modules/
.DS_Store
package-lock.json
package.json

# Egg info directories
*.egg-info/

# Plugin initialization file
plugins/__init__.py
lab_code/clustered_prompts_no_top_prompts_k*.csv
