mkdocs>=1.6
mkdocs-material>=9.5
click
future
htmlmin
Jinja2
joblib
jsmin
libsass
livereload
lunr
Markdown
MarkupSafe
mkdocs-abs-rel-plugin
mkdocs-bootstrap-tables-plugin
mkdocs-exclude
mkdocs-macros-plugin
mkdocs-markdown-filter
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-simple-hooks
nltk
pathlib2
Pygments
pymdown-extensions
python-dateutil
PyYAML
regex
repackage
six
termcolor
tornado
tqdm