@import "variables";

.staffer {
    display: flex;
    @media screen and (max-width: 576px) {
        display: block;
    }

    padding: 0.5em;

    p {
        margin-bottom: 0.5em;
    }

    #staffer-left {
        flex-basis: calc(#{$staff-photo-diameter} + 4em);
        text-align: center;
        padding: 0 1rem 0 1rem;
        p {
            margin-bottom: 0.25em;
        }
        .staffer-name {
            font-weight: 500;
        }
    }
    #staffer-right {
        flex-basis: calc(100% - #{$staff-photo-diameter} - 4em);
    }
}

.staffer-image {
    border-radius: 50%;
    border: 0px solid white;
    width: 85.0px;
    /*$staff-photo-diameter;*/
    height: 115.0px;
    /*$staff-photo-diameter-height;*/
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h2:not(:first-of-type) {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.role {
    hr {
        width: 90%;
    }
}
